.button {
  padding: 15px 35px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  background-color: transparent;
  text-transform: uppercase;
  color: #33323D;
  border: 1px solid #33323D;
}